@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #662400, #B33F00)
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0e535165;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF6B1A;
    text-align: center;
    text-shadow: 1px 1px 2px #ff6a1a5d;
}

h2{
    color: #006663;
}

p {
    text-align: justify;
}